body {
    font-size: 16px;
    background-color: whitesmoke;
}


.header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.header-item-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;   
    text-align: center; 
}

.header-item-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    list-style-type: none;
    text-align: center;
}

.header-item-2 a {
    text-decoration: none;
    display: inline-block;
    color: black;
    margin: 0.8rem;
}

