body {
    font-size: 16px;
    background-color: whitesmoke;
}

/* Header Section */

.header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.header-item-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;   
    text-align: center; 
}

.header-item-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    list-style-type: none;
    text-align: center;
}

.header-item-2 a {
    text-decoration: none;
    display: inline-block;
    color: black;
    margin: 0.8rem;
}


/* About Me Section */

.about-me-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

.about-me-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: end;
    text-decoration: underline;

}

.about-me-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.about-me-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    height: 300px;
    width: auto;
    margin-left: 2rem;
}



/* Projects Section */

.projects-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr 1fr 1fr;
}

.projects-item-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-decoration: underline;
}

.projects-item-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    list-style-type: none;
}


/* Acordian Styling */
.accordion {
    background-color: lightgray;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.9rem;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: gray;
    color: white;
  }
  
  .panel {
    padding: 0 1.1rem;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }



  /* Skills Section Styling */

.skills-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr 1fr 1fr; 
}

.skills-item-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: end;
}

.skills-item-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.skills-item-2 img {
    height: 10rem;
    width: auto;
}